.App {
  font-family: sans-serif;
  text-align: left;
}

.Desc {
  padding: 30px;
}

span {
  font-size: 0.8em;
  /* border: solid 1px lightgray; */
  padding: 10px;
  margin-right: 10px;
}

.navItem {
  background-color: #787878;
  display: flex;
  height: 250px;
}

.Logo {
  color: white;
  text-decoration: none;
  position: absolute;
  margin-top: 150px;
  left: 80px;
  font-family: monospace;
  font-size: 40px;
}

.NavLogin:link {
  text-decoration: none;
}
.NavLogin:visited {
  color: white;
}

.navCart {
  color: white;
  position: absolute;
  margin-top: 170px;
  right: 100px;
  font-family: monospace;
}

.faShoppingCart {
  color: white;
}

.NavBox {
  display: flex;
  margin-left: 30%;
}

.NavBoxx {
  background-color: #787878;
  display: flex;
  height: 350px;
  font-family: monospace;
  margin-top: 100px;
}

.footer {
  margin-top: 30px;
  margin-left: 32%;
  color: white;
  text-align: center;
}

.Nav {
  color: black;
  font-size: 20px;
  font-family: monospace;
}
.Nav:link {
  text-decoration: none;
}
.Nav:visited {
  color: black;
}
.Nav:hover {
  color: white;
  background-color: black;
  padding: 10px;
}

.quantity {
  display: inline;
  margin-top: 100px;
  margin-left: 100px;
}

.CartItems {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.CartItem {
  margin-top: 30px;
  margin-left: 100px;
}

.CartImage {
  margin-left: 100px;
}

a:hover {
  color: white;
}

.CheckOut {
  width: 150px;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 100px;
}

.ListGroup {
  margin: 50px 100px;
}

.Lite {
  margin-left: 100px;
  margin-right: 100px;
}

.Contiue {
  margin-left: 100px;
}

.slide {
  width: 1000px;
  align-items: center;
  margin: auto;
}

.each-slide > div {
  display: flex;
  width: 1000px;
  height: 700px;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.bigTitle {
  color: black;
  font-family: monospace;
  display: flex;
  margin-left: 30%;
}

.aboutDes {
  width: 800px;
  text-align: center;
  display: flex;
  margin: auto;
}

.aboutImg {
  width: 600px;
  height: auto;
  display: flex;
  margin: auto;
}

.productCard {
  width: 700px;
  border: none;
}

.CardProduct {
  align-items: center;
  margin-left: 350px;
  border: none;
}

.Card {
  border: none;
}

.productButton:link {
  text-decoration: none;
}
.productButton:visited {
  color: white;
}
.productButton:hover {
  color: white;
  /* background-color: rgb(0,0,0); */
  padding: 10px;
}

.price {
  border: none;
  color: gray;
  font-weight: bolder;
  font-size: 20px;
}

.sort {
  /* position: absolute;
  margin-left: 500px; */
  display: flex;
  margin: auto;
}

.contactImg {
  height: 150px;
  display: flex;
  margin: auto;
}

.contactForm {
  display: flex;
  margin: auto;
}

.formTitle {
  text-align: center;
}

form input {
  width: 400px;
}
form textarea {
  width: 400px;
  height: 300px;
}
form button {
  display: flex;
  float: right;
}

/*# sourceMappingURL=App.css.map */
.form-control{
  width: 400px;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 20px;
  padding-top: 10px;
  color: #000000;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}

.Facebook{
  display: flex;
  margin-left: 60px;
}

.register{
  display: flex;
  margin-right: 150px;
}

.login{
  display: flex;
  margin-right: 160px;
}